<h1 style="text-align: center; color: red; font-size: 25pt; font-weight: bold; text-shadow: 1px 1px 1px rgb(50, 100, 100)"> Terror Attacks In Nigeria .... </h1> 
<p style="font-size: 12pt; text-align: center"> Abubakar Abdulkadir</p>

<img src="images/bg.jpg" style="width: 100%; height:350px; display: inline-block" />

<h1 style='background-color: red; padding: 10px; color: white'> 1.0 Data Preprocessing </h1>

Data preprocessing is the process of preparing raw data for analysis by cleaning, transforming, and integrating it into a suitable format. The goal of data preprocessing phase is to improve the quality and efficiency of data analysis by removing irrelevant data, filling missing values, and converting data into a more appropriate format.

The process typically involves several steps, including 
- data cleaning 
- data integration 
- data transformation
- and data reduction.

Effective data preprocessing is essential for accurate and efficient data mining. By improving the quality and consistency of the data, data preprocessing can help data analysts to identify patterns and trends, make better decisions, and gain deeper insights into the underlying data.

In [498]:
# import libraries
import pandas as pd
import numpy as np
import re

# importing the dataset
df_acled = pd.read_csv('datasets/cleaned/df_acled_nig.csv') # ACLED dataset 
df_gtd = pd.read_csv('datasets/cleaned/df_gtd_nig.csv') # GTD dataset 1970 to 2020
df_lga = pd.read_csv('datasets/cleaned/df_lga_nig.csv') # LGA datasets
df_lga_features = pd.read_csv('datasets/cleaned/df_lga_features.csv') # LGA datasets

C:\Users\user\AppData\Local\Temp\ipykernel_8668\3835304640.py:8: DtypeWarning: Columns (61,79,114,115) have mixed types. Specify dtype option on import or set low_memory=False.
  df_gtd = pd.read_csv('datasets/cleaned/df_gtd_nig.csv') # GTD dataset 1970 to 2020

## 1.1 Data Cleaning

Data cleaning involves removing noise, errors, and inconsistencies from the data.

### 1.1.1 Cleaning the ACLED Dataset

#### Handling Null values

In [499]:
df_acled.isnull().sum()

event_id_cnty             0
event_date                0
year                      0
time_precision            0
disorder_type             0
event_type                0
sub_event_type            0
actor1                    0
assoc_actor_1         20021
inter1                    0
actor2                 6854
assoc_actor_2         21632
inter2                    0
interaction               0
civilian_targeting    17231
iso                       0
region                    0
country                   0
admin1                    1
admin2                    1
admin3                28160
location                  0
latitude                  0
longitude                 0
geo_precision             0
source                    0
source_scale              0
notes                     0
fatalities                0
tags                  23316
timestamp                 0
dtype: int64

In [500]:
# Percentage of null values in fields containing nulls
null_pct = df_acled.isnull().mean() * 100
null_pct = null_pct[null_pct.values > 0]
null_pct

assoc_actor_1          71.097301
actor2                 24.339489
assoc_actor_2          76.818182
civilian_targeting     61.189631
admin1                  0.003551
admin2                  0.003551
admin3                100.000000
tags                   82.798295
dtype: float64

8 out of the available 32 features contain null values. Of these eight, their percentages show that majority of them have above 70% null entries. For features with percentages above the 50% benchmark, dropping of the features are considered. Hence, we will consider inputation for actor2, admin1 and admin2. 

- The actor2 feature represents the secondary actor involved in the event, which can be another armed group, an international organization, a civilian group, or other types of actors. Null values in this field could mean that there is no record for this actor. For the purpose of this project, imputation by mode will undesirable because it could lead to misinformation or a potential unreliability of information derived from this field. Hence, null values in this field are replaced with a constant keyword 'unknown'. 

- The admin1 feature represents the highest level of administrative division in the location, such as a state, province, or region, depending on the country. The admin2 feature represents the second-highest level of administrative division, such as a district, county, or municipality. Hence, like the actor2, implacing nulls with constant keyword "unkown" is prefered.

In [501]:
# drop all columns where percentage of nulls are greater than 50%
drop_cols = null_pct[null_pct > 50].index.tolist()
df_acled = df_acled.drop(columns=drop_cols)

# input 'unknown' keyword for actor2, admin1, admin2 features
df_acled[['actor2', 'admin1', 'admin2']] = df_acled[['actor2', 'admin1', 'admin2']].fillna('unknown')

In [502]:
df_acled.isnull().sum()

event_id_cnty     0
event_date        0
year              0
time_precision    0
disorder_type     0
event_type        0
sub_event_type    0
actor1            0
inter1            0
actor2            0
inter2            0
interaction       0
iso               0
region            0
country           0
admin1            0
admin2            0
location          0
latitude          0
longitude         0
geo_precision     0
source            0
source_scale      0
notes             0
fatalities        0
timestamp         0
dtype: int64

#### Handling Inconsistencies

In [503]:
# select all the categorical features and describing them
df_acled.select_dtypes(include=['object']).describe()

,event_id_cnty,event_date,disorder_type,event_type,sub_event_type,actor1,actor2,region,country,admin1,admin2,location,source,source_scale,notes
count,28160,28160,28160,28160,28160,28160,28160,28160,28160,28160,28160,28160,28160,28160,28160
unique,28160,4489,4,6,24,667,684,1,1,38,745,4261,3119,21,26640
top,NIG30571,18 March 2023,Political violence,Violence against civilians,Attack,Protesters (Nigeria),Civilians (Nigeria),Western Africa,Nigeria,Borno,Abuja Municipal,Abuja,Vanguard (Nigeria),National,"Organised labour, including the NLC and its ci..."
freq,1,64,19523,9473,7522,6162,11290,28160,28160,4527,1223,1055,3237,19514,24

In [504]:
df_acled.select_dtypes(include=['object']).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28160 entries, 0 to 28159
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   event_id_cnty   28160 non-null  object
 1   event_date      28160 non-null  object
 2   disorder_type   28160 non-null  object
 3   event_type      28160 non-null  object
 4   sub_event_type  28160 non-null  object
 5   actor1          28160 non-null  object
 6   actor2          28160 non-null  object
 7   region          28160 non-null  object
 8   country         28160 non-null  object
 9   admin1          28160 non-null  object
 10  admin2          28160 non-null  object
 11  location        28160 non-null  object
 12  source          28160 non-null  object
 13  source_scale    28160 non-null  object
 14  notes           28160 non-null  object
dtypes: object(15)
memory usage: 3.2+ MB

The only inconsistency in the categorical subset of the dataset in terms of datatype is the event_date which is an object datatype instaed of datetime. Although, region and country have just one unique value each; western africa and Nigeria. There is no much information to be gained from those features hence, we can do away with them.

In [505]:
# drop the region and country feature
df_acled = df_acled.drop(columns=['region', 'country'])

In [506]:
# convert the event_date to datetime feature
df_acled['event_date'] = pd.to_datetime(df_acled['event_date'], format='%d %B %Y')

In [507]:

df_acled.select_dtypes(include=['float64', 'int64', 'float32', 'int32']).describe()

,year,time_precision,inter1,inter2,interaction,iso,latitude,longitude,geo_precision,fatalities,timestamp
count,28160.000000,28160.000000,28160.000000,28160.000000,28160.000000,28160.0,28160.000000,28160.000000,28160.000000,28160.000000,2.816000e+04
mean,2018.499219,1.112109,3.613033,3.681214,36.898366,566.0,8.797115,8.038439,1.362393,3.230256,1.620157e+09
std,3.410668,0.329815,1.747718,2.995227,17.798928,0.0,2.570994,3.022455,0.515148,13.304044,3.676026e+07
min,2009.000000,1.000000,1.000000,0.000000,10.000000,566.0,2.855900,1.328200,1.000000,0.000000,1.552576e+09
25%,2016.000000,1.000000,2.000000,1.000000,16.000000,566.0,6.453100,6.199800,1.000000,0.000000,1.591052e+09
50%,2020.000000,1.000000,4.000000,3.000000,37.000000,566.0,8.883300,7.424300,1.000000,0.000000,1.618566e+09
75%,2021.000000,1.000000,5.000000,7.000000,55.000000,566.0,11.176700,9.284600,2.000000,2.000000,1.652117e+09
max,2023.000000,3.000000,8.000000,8.000000,78.000000,566.0,13.784400,14.650000,3.000000,600.000000,1.679960e+09

There is no so much inconsistency in the numerical data. Aside that iso contain a single unique value. Although, we cannot drop such column because they might be useful in making converions

### 1.1.2 Cleaning the GTD Dataset

#### Handling Null values

In [508]:
# Percentage of null values in fields containing nulls
null_pct = df_gtd.isnull().mean() * 100
null_pct = null_pct[null_pct.values > 0]
null_pct

approxdate    94.764922
resolution    96.165388
latitude       0.800267
longitude      0.800267
location      53.384461
                ...
addnotes      63.837946
scite1         1.000333
scite2        24.524842
scite3        46.498833
related       66.305435
Length: 99, dtype: float64

In [509]:
null_pct[null_pct.values > 60]

approxdate            94.764922
resolution            96.165388
alternative           87.862621
alternative_txt       87.862621
attacktype2           74.774925
                        ...
hostkidoutcome        85.111704
hostkidoutcome_txt    85.111704
nreleased             85.495165
addnotes              63.837946
related               66.305435
Length: 71, dtype: float64

Out of the 135 features of the dataset, 99 of them contain null values. 71 out of the 99 contain null values above 60% of the total values. To reduce the features of this dataset, we consider droping features with nulls above 60% as imputation will lead to so much artificiality in the dataset. Hence, there is a need to decide on means to handle the missing values is the remaing 18 features.

In [510]:
null_pct[null_pct.values < 60]

latitude             0.800267
longitude            0.800267
location            53.384461
summary              1.000333
targsubtype1         2.784261
targsubtype1_txt     2.784261
corp1                2.834278
target1              0.083361
natlty1              0.166722
natlty1_txt          0.166722
nperps               3.251084
nperpcap             1.733911
claimed              1.000333
weapsubtype1         7.819273
weapsubtype1_txt     7.819273
nkill                9.286429
nkillus              1.067022
nkillter             5.701901
nwound              28.292764
nwoundus             1.117039
nwoundte             9.153051
propextent          52.867623
propextent_txt      52.867623
propvalue           56.202067
propcomment         47.765922
scite1               1.000333
scite2              24.524842
scite3              46.498833
dtype: float64

For these fields where the null percentage are less than 60%, we will consider replacing null values with the keyword 'unkown' for consistency with the acled dataset.

In [511]:
# drop all columns where percentage of nulls are greater than 60%
drop_cols = null_pct[null_pct > 60].index.tolist()
df_gtd.drop(columns=drop_cols, inplace=True)

# input 'unknown' keyword for actor2, admin1, admin2 features
repl_cols = null_pct[null_pct < 60].index.tolist()
df_gtd[repl_cols] = df_gtd[repl_cols].fillna('unknown')

In [512]:
df_gtd.isnull().sum()

eventid     0
iyear       0
imonth      0
iday        0
extended    0
           ..
dbsource    0
INT_LOG     0
INT_IDEO    0
INT_MISC    0
INT_ANY     0
Length: 64, dtype: int64

#### Handling inconsistencies

In [513]:
df_gtd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5998 entries, 0 to 5997
Data columns (total 64 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   eventid           5998 non-null   int64
 1   iyear             5998 non-null   int64
 2   imonth            5998 non-null   int64
 3   iday              5998 non-null   int64
 4   extended          5998 non-null   int64
 5   country           5998 non-null   int64
 6   country_txt       5998 non-null   object
 7   region            5998 non-null   int64
 8   region_txt        5998 non-null   object
 9   provstate         5998 non-null   object
 10  city              5998 non-null   object
 11  latitude          5998 non-null   object
 12  longitude         5998 non-null   object
 13  specificity       5998 non-null   float64
 14  vicinity          5998 non-null   int64
 15  location          5998 non-null   object
 16  summary           5998 non-null   object
 17  crit1             5998 non-null   int64
 18  crit2             5998 non-null   int64
 19  crit3             5998 non-null   int64
 20  doubtterr         5998 non-null   int64
 21  multiple          5998 non-null   float64
 22  success           5998 non-null   int64
 23  suicide           5998 non-null   int64
 24  attacktype1       5998 non-null   int64
 25  attacktype1_txt   5998 non-null   object
 26  targtype1         5998 non-null   int64
 27  targtype1_txt     5998 non-null   object
 28  targsubtype1      5998 non-null   object
 29  targsubtype1_txt  5998 non-null   object
 30  corp1             5998 non-null   object
 31  target1           5998 non-null   object
 32  natlty1           5998 non-null   object
 33  natlty1_txt       5998 non-null   object
 34  gname             5998 non-null   object
 35  guncertain1       5998 non-null   float64
 36  individual        5998 non-null   int64
 37  nperps            5998 non-null   object
 38  nperpcap          5998 non-null   object
 39  claimed           5998 non-null   object
 40  weaptype1         5998 non-null   int64
 41  weaptype1_txt     5998 non-null   object
 42  weapsubtype1      5998 non-null   object
 43  weapsubtype1_txt  5998 non-null   object
 44  nkill             5998 non-null   object
 45  nkillus           5998 non-null   object
 46  nkillter          5998 non-null   object
 47  nwound            5998 non-null   object
 48  nwoundus          5998 non-null   object
 49  nwoundte          5998 non-null   object
 50  property          5998 non-null   int64
 51  propextent        5998 non-null   object
 52  propextent_txt    5998 non-null   object
 53  propvalue         5998 non-null   object
 54  propcomment       5998 non-null   object
 55  ishostkid         5998 non-null   float64
 56  scite1            5998 non-null   object
 57  scite2            5998 non-null   object
 58  scite3            5998 non-null   object
 59  dbsource          5998 non-null   object
 60  INT_LOG           5998 non-null   int64
 61  INT_IDEO          5998 non-null   int64
 62  INT_MISC          5998 non-null   int64
 63  INT_ANY           5998 non-null   int64
dtypes: float64(4), int64(23), object(37)
memory usage: 2.9+ MB

In [514]:
# describe the first ten features
df_gtd.select_dtypes(include=['object']).iloc[0:, 0:12].describe()

,country_txt,region_txt,provstate,city,latitude,longitude,location,summary,attacktype1_txt,targtype1_txt,targsubtype1,targsubtype1_txt
count,5998,5998,5998,5998,5998.000000,5998.000000,5998,5998,5998,5998,5998.0,5998
unique,1,1,38,2615,3409.000000,3384.000000,1897,5809,9,19,92.0,92
top,Nigeria,Sub-Saharan Africa,Borno,Maiduguri,11.840793,13.141391,unknown,unknown,Armed Assault,Private Citizens & Property,75.0,Village/City/Town/Suburb
freq,5998,5998,2113,494,387.000000,387.000000,3202,60,2821,2914,1564.0,1564

In [515]:
# describe the next ten features
df_gtd.select_dtypes(include=['object']).iloc[0:,12:24].describe()

,corp1,target1,natlty1,natlty1_txt,gname,nperps,nperpcap,claimed,weaptype1_txt,weapsubtype1,weapsubtype1_txt,nkill
count,5998,5998,5998.0,5998,5998,5998.0,5998.0,5998.0,5998,5998.0,5998,5998.0
unique,2279,1947,37.0,37,75,50.0,24.0,4.0,7,27.0,27,91.0
top,Not Applicable,Village,147.0,Nigeria,Boko Haram,-99.0,0.0,0.0,Firearms,5.0,Unknown Gun Type,0.0
freq,939,1284,5789.0,5789,2901,4655.0,5687.0,5297.0,3449,3034.0,3034,1421.0

In [516]:
# describe the last features
df_gtd.select_dtypes(include=['object']).iloc[0:,24:].describe()

,nkillus,nkillter,nwound,nwoundus,nwoundte,propextent,propextent_txt,propvalue,propcomment,scite1,scite2,scite3,dbsource
count,5998.0,5998.0,5998.0,5998.0,5998.0,5998,5998,5998,5998,5998,5998,5998,5998
unique,3.0,53.0,73.0,4.0,9.0,5,5,14,1301,4181,3422,2470,7
top,0.0,0.0,0.0,0.0,0.0,unknown,unknown,unknown,unknown,unknown,unknown,unknown,START Primary Collection
freq,5933.0,4772.0,2745.0,5929.0,5415.0,3171,3171,3371,2865,60,1471,2789,5472

A look at the description of the dataset indicates that with the _txt surfix are categorical feature. For each of these features, there is a corresponding feature containing numerical values. Both the fields with categorical and numerical values convey same information, only that they have been handled differently. Hence, to reduce the cumbersomess of the dataset, we drop such numerical features which has corresponding categorical feature. This will allow the database categorical features to be used in different ways without data repetition.

List of these numerical features having corresponding categorical features
- natlty1
- propextent
- targsubtype1
- weapsubtype1

In [517]:
df_gtd.drop(['natlty1', 'propextent', 'targsubtype1', 'weapsubtype1'], inplace=True, axis=1)
df_gtd.shape

(5998, 60)

In [518]:
# select the first 12 numerical features from the gtd dataset and describe 
df_gtd.select_dtypes(include=['float64', 'int64', 'float32', 'int32']).iloc[0:, 0:12].describe()

,eventid,iyear,imonth,iday,extended,country,region,specificity,vicinity,crit1,crit2,crit3
count,5.998000e+03,5998.000000,5998.000000,5998.000000,5998.000000,5998.0,5998.0,5998.000000,5998.000000,5998.000000,5998.000000,5998.000000
mean,2.015489e+11,2015.427643,5.981327,15.623374,0.151884,147.0,11.0,1.536345,0.059687,0.977993,0.997833,0.915805
std,4.245149e+08,4.248259,3.418210,8.840217,0.358938,0.0,0.0,0.859825,0.236925,0.146719,0.046509,0.277703
min,1.976021e+11,1976.000000,1.000000,1.000000,0.000000,147.0,11.0,1.000000,0.000000,0.000000,0.000000,0.000000
25%,2.013112e+11,2013.000000,3.000000,8.000000,0.000000,147.0,11.0,1.000000,0.000000,1.000000,1.000000,1.000000
50%,2.016031e+11,2016.000000,6.000000,15.000000,0.000000,147.0,11.0,1.000000,0.000000,1.000000,1.000000,1.000000
75%,2.018120e+11,2018.000000,9.000000,23.000000,0.000000,147.0,11.0,2.000000,0.000000,1.000000,1.000000,1.000000
max,2.021063e+11,2021.000000,12.000000,31.000000,1.000000,147.0,11.0,5.000000,1.000000,1.000000,1.000000,1.000000

In [519]:
# select the first last set of numerical features from the gtd dataset and describe 
df_gtd.select_dtypes(include=['float64', 'int64', 'float32', 'int32']).iloc[0:, 12:].describe()

,doubtterr,multiple,success,suicide,attacktype1,targtype1,guncertain1,individual,weaptype1,property,ishostkid,INT_LOG,INT_IDEO,INT_MISC,INT_ANY
count,5998.000000,5998.000000,5998.000000,5998.000000,5998.000000,5998.000000,5998.000000,5998.0,5998.000000,5998.000000,5998.000000,5998.000000,5998.000000,5998.000000,5998.000000
mean,0.106369,0.336946,0.915972,0.080360,3.376292,10.536512,0.168223,0.0,6.125208,-0.819940,-0.154051,-4.049350,-4.029343,0.033011,-3.855952
std,0.495122,0.472706,0.277453,0.271873,2.111835,5.940474,0.374095,0.0,2.164526,3.385112,1.689291,4.479985,4.500215,0.277397,4.498004
min,-9.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.0,2.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000
25%,0.000000,0.000000,1.000000,0.000000,2.000000,4.000000,0.000000,0.0,5.000000,0.000000,0.000000,-9.000000,-9.000000,0.000000,-9.000000
50%,0.000000,0.000000,1.000000,0.000000,2.000000,14.000000,0.000000,0.0,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,1.000000,1.000000,0.000000,5.000000,14.000000,0.000000,0.0,6.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,9.000000,22.000000,1.000000,0.0,13.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

There are no observable inconsistency from this pheriperal outlook on the dataset. Hence we will pass the numerical features as they are.

### 1.1.2 Cleaning the LGA Dataset

#### Handling Nulls

In [520]:
# Percentage of null values in fields containing nulls
null_pct = df_lga.isnull().mean() * 100
null_pct = null_pct[null_pct.values > 0]
null_pct

state_code    1.679587
dtype: float64

Only the statecode feature is containing null. That feature is supposed tobe distinct. Hence, we can not input them with a measure of central tendency. We retain the tradition for this project and replace null with 'unknown'.

In [521]:
# input 'unknown' for null values
df_lga.fillna('unknown', inplace=True)

In [522]:
df_lga.isnull().sum()

id              0
name            0
state_id        0
state_code      0
state_name      0
country_id      0
country_code    0
country_name    0
latitude        0
longitude       0
wikiDataId      0
dtype: int64

#### Checking for inconsistencies

In [523]:
df_lga.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 774 entries, 0 to 773
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            774 non-null    int64
 1   name          774 non-null    object
 2   state_id      774 non-null    int64
 3   state_code    774 non-null    object
 4   state_name    774 non-null    object
 5   country_id    774 non-null    int64
 6   country_code  774 non-null    object
 7   country_name  774 non-null    object
 8   latitude      774 non-null    float64
 9   longitude     774 non-null    float64
 10  wikiDataId    774 non-null    object
dtypes: float64(2), int64(3), object(6)
memory usage: 66.6+ KB

### 1.1.2 Cleaning the LGA Feature Dataset

Because this dataset was collected from ChatGPT API's unstructured response, it contains the most dirt and inonsistencies. Unlike the other datasets, which must have been precleaned by their custodians, this dataset is converted into pandas dataframe from chatGPT API's raw responses. Sometimes, for categorical variables, it uses different synonymns which means almost same thing to quantify or qualify different local government. Hence, this dataset is needing preprocessing for each of the feature collected and careful observation of the values in each feature.

<b><i>NB: Functions used for the cleaning of this dataset are organised at the bottom of this notebook under the cleaning functions subheading</i></b>

In [524]:
df_lga_features.iloc[0:, 0:11].head()

,Lga Name,percentage of educated,Level of Isolation,Natural Barriers,Elevation,Population,Major Ocupation,Political stability,Economic Situation,Average Cost of living,Employment rate
0,Aba North,70%,Low,None,104m (341ft),"382,784",Trading and Commerce,Relatively Stable,Struggling,"â‚¦120,000 ($312) per month",65%
1,Aba South,70%,Low,None,30m,1 million,Trading,Relatively stable,Struggling,"â‚¦50,000",45%
2,Arochukwu,70%,Low,Hills and Rivers,1500ft,"150,000",Agriculture,Relatively stable,Developing,"â‚¦40,000",60%
3,Bende,90%,Low,Rivers,200 meters,"100,000",Farming,Stable,Struggling,"â‚¦50,000",70%
4,Ikwuano,70%,Low,Hills and Rivers,190m,"150,000",Farming,Relatively Stable,Struggling,"â‚¦50,000 ($125)",40%

A look at the first 10 columns of this dataset affirms the previous conviction that almost all the features of this dataset will be needing cleaning. Most of the features contain different units and weird characters.

#### 1.1.2.1 Cleaning the Percentage Educated features

In [525]:
# checking the distinct values in the dataset
df_lga_features['percentage of educated'].unique()

array(['70%', '90%', '65%', '60%;', '85%', '65%,', '75%,', '75%', '72%',
       '67%', '80%', '30%', '70%,', '50%', '60%', '68%', '64%', '58%',
       '85%,', '78%', '68%,', '85%;', '74%', '51%', '73%', '84%', '47%',
       '72%,', '60%,', '95%', '70', '62%', '63%', '80%,', '69%', '75%;',
       '81%', '57%', '80', '70%;', '40%', '42%', '76%', '45%', '55%',
       '75% |', '80%;', '54%', nan, '82%,', '71%', '65%;', '40%,', '83%',
       '79%,', '75', '56%', '50%,', '82%', '65%.', '87%', '90%,', '81%,',
       '40%.'], dtype=object)

In [526]:
# apply function to extract only the digits in the value as float
df_lga_features['percentage of educated'] = df_lga_features.apply(get_numbers_without_units
                                                                , column='percentage of educated'
                                                                , no_match_value=''
                                                                , axis=1)
df_lga_features['percentage of educated'].unique()

array([70.0, 90.0, 65.0, 60.0, 85.0, 75.0, 72.0, 67.0, 80.0, 30.0, 50.0,
       68.0, 64.0, 58.0, 78.0, 74.0, 51.0, 73.0, 84.0, 47.0, 95.0, 62.0,
       63.0, 69.0, 81.0, 57.0, 40.0, 42.0, 76.0, 45.0, 55.0, 54.0, '',
       82.0, 71.0, 83.0, 79.0, 56.0, 87.0], dtype=object)

#### 1.1.2.1 Cleaning the Level of Isolation features

In [527]:
# check values in level of isolation
df_lga_features['Level of Isolation'].unique()

array(['Low', 'Low;', 'Low,', 'Moderate', 'low', 'High', 'Medium',
       'Minimal', 'Moderate,', 'low;', 'Low |', nan, 'moderate;', 'High,',
       'Moderate.', 'Moderate;', 'Low.', 'Medium,'], dtype=object)

In [528]:
# We need only the sequential alphabets from this feature and they should be lower case
df_lga_features['Level of Isolation'] = df_lga_features.apply(retrieve_alphabets, column_name="Level of Isolation", axis=1)
df_lga_features['Level of Isolation'].unique()

array(['low', 'moderate', 'high', 'medium', 'minimal', ''], dtype=object)

In [529]:
# replace medium and minimal with moderate
words_list = [('medium', 'moderate'), ('minimal', 'moderate')]
df_lga_features['Level of Isolation'] = replace_words(df_lga_features, repls=words_list, column='Level of Isolation') 
df_lga_features['Level of Isolation'].unique()

array(['low', 'moderate', 'high', ''], dtype=object)

#### 1.1.2.1 Cleaning the Natural Barriers features

In [530]:
# check values in Natural Barriers
df_lga_features['Natural Barriers'].unique()

array(['None', 'Hills and Rivers', 'Rivers', 'Rivers, Hills', 'Hills',
       'Hills;', 'Hills and Forests', 'Rivers,', 'River',
       'Hills and Plateaus', 'Mountainous', 'Mountains, Rivers',
       'Mountains,', 'Mountains', 'mountains', 'Mountains and Rivers',
       'None,', 'Rivers and Hills', 'High', 'Rivers, mountains',
       'Rivers and Mountains', 'River Niger', 'Few', 'The Niger River',
       'Rivers and creeks', 'Mountainous terrain', 'Hills/mountains,',
       'Rivers, Swamps', 'Rivers and Creeks', 'Rivers, hills',
       'Coastline, Rivers', 'Rivers and swamps', 'rivers and swamps;',
       'Mountains;', 'Mountains, Rivers, Forests', 'Hills and forests',
       'Yes', 'Hills, Rivers', 'Rivers |', 'Rivers and mountains',
       'Riverine;', 'Rivers and creeks,', 'Rivers and hills', 'Rivers;',
       'Deltaic plain', 'Hills and mountains', nan, 'Hills and rivers',
       'Rivers and hills;', 'Hills and Mountains',
       'Mountains, Forests, Rivers', 'Hilly', 'Hilly terrain',
       'Hills and Valleys,', 'Hills and streams', 'Few,',
       'Hills, Valleys', 'few;', 'Hills and Rivers,',
       'Rivers, hills, and forests', 'Mountains, rivers, forests',
       'Mountains, rivers', 'Mountainous;', 'Hilly terrain,',
       'Mountains, Rivers, and Valleys', 'Rivers and Valleys',
       'Hills, Mountains', 'Yes (mountain ranges)', 'Mountains, Rivers.',
       'Atlantic Ocean and Lagos Lagoon', 'Ocean', 'Rocky terrain',
       'Hills,', 'None.', 'Rivers, dense forest', 'River Ogun',
       'Rivers and Forests', 'Two Rivers', 'Forests and rivers',
       'Hills, Forests, Rivers', 'Forest cover', 'Sea', 'Mountainous,',
       'River,', 'Minimal', 'Nil', 'Mountains, forests',
       'Rivers and valleys', 'Hills and Plateaus;', 'Plateau,',
       'Plateau State', 'Rivers, hills;', 'Rivers and Swamps',
       'Mountains and Hills', 'Limited', 'Mountainous Terrain', 'Desert',
       'Hills and Valleys', 'Mountains, Rivers, Deserts'], dtype=object)

This feature has so much different different values. But a look at the values indicate that many of the values can be classed into one. For an instance, we can have rivereine, rivers, river, etc. The field is not atomic too. We could consider replacing all similar values with a representative value. Although, for this purpose we will create new features for each distinct value.

Hence, we will classify this values into 
- River - Swamp  - Hill - Forest  - Mountain - ocean - valley - desert - rock - plateau - creeks - none

In [531]:
# define the categories for the different kinds of bareers
categories = ['River', 'Swamp', 'Hill', 'Forest', 'Mountain', 
              'ocean', 'valley', 'desert', 'rock', 'plateau', 
              'creeks', 'none']

# create features for each of the unique categories 
for category in categories:
    column_head = "Has " + category
    df_lga_features[column_head] = df_lga_features.apply(binarize, word=category, column='Natural Barriers', axis= 1)

#drop the natural barriers feature
df_lga_features.drop(columns='Natural Barriers', inplace=True)

df_lga_features.head()

,Lga Name,percentage of educated,Level of Isolation,Elevation,Population,Major Ocupation,Political stability,Economic Situation,Average Cost of living,Employment rate,...,Has Hill,Has Forest,Has Mountain,Has ocean,Has valley,Has desert,Has rock,Has plateau,Has creeks,Has none
0,Aba North,70.0,low,104m (341ft),"382,784",Trading and Commerce,Relatively Stable,Struggling,"â‚¦120,000 ($312) per month",65%,...,0,0,0,0,0,0,0,0,0,1
1,Aba South,70.0,low,30m,1 million,Trading,Relatively stable,Struggling,"â‚¦50,000",45%,...,0,0,0,0,0,0,0,0,0,1
2,Arochukwu,70.0,low,1500ft,"150,000",Agriculture,Relatively stable,Developing,"â‚¦40,000",60%,...,1,0,0,0,0,0,0,0,0,0
3,Bende,90.0,low,200 meters,"100,000",Farming,Stable,Struggling,"â‚¦50,000",70%,...,0,0,0,0,0,0,0,0,0,0
4,Ikwuano,70.0,low,190m,"150,000",Farming,Relatively Stable,Struggling,"â‚¦50,000 ($125)",40%,...,1,0,0,0,0,0,0,0,0,0

#### 1.1.2.1 Cleaning the Elevation features

In [532]:
df_lga_features['Elevation'].unique()

array(['104m (341ft)', '30m', '1500ft', '200 meters', '190m', '140m',
       '250m', '500 meters;', '1500m', '200 meters above sea level',
       '100 meters', '40m', '50m,', '100m', '400m,', '123 m (404 ft)',
       '117m', '152 meters', '167 meters', '1092m', '350m', '625 meters',
       '223m', '900m', '446m', '700m', '300m', '500m,', '143m',
       '500 meters', '500m', '625m', '160 meters', '1400m', '305m',
       '207m,', '300 meters', '40 meters', 'Sea level', '32 meters',
       '41m', '23m', '36 meters', '100 meters,',
       '3 meters above sea level', '92m', '50m', '50m above sea level',
       '200m above sea level', '20m above sea level', '50 meters', '54m',
       '10m', '92 meters', '1000m', '600m', '24 meters', '45m,', '50m;',
       '30 meteres', 'Below 100m', '200 meters,', '130m', '67m', '132m',
       '120m', '150 meters', '84m', '65m', '150m', '210m',
       '100-200 meters above sea level', '211m', '20 meters',
       '45m (148ft) above sea level', '332m', '543m', '616m (2021ft)',
       '350 meters', '450m', '600m,', '800m', '1,200 meters',
       '900 meters,', '423m', '800m,', '1,268 meters', '600 meters',
       '200m', '1,200m', '20m', '2500 meters', '80m', '987m',
       '366m (1201ft)', '116 meters', '147m', '161-300m', '1200m',
       '82 m (269 ft)', '1,500m', '1546m', '144 meters', '200m,',
       '90 meters', '124 meters', '1010m', '408 meters', '1,181m', '75m',
       'Sea Level', '27m', '650m', '12 meters', '25m', '115 m (377 ft)',
       '10 meters', '78m', '30m;', '110 meters', '72 meters', '100m,',
       '250 meters', '123m', '30 meters', '82m', '55 meters',
       '130 meters', '616m', '214m', '450 meters,', '562 meters', '630m',
       '500m;', '750 meters', '450m,', '460m', '461m', '462m', '1300m',
       '458 meters', '1539 metres', '343m', '280m', '230m',
       '314m above sea level', '150 m', '220m', '357m', '390 meters',
       '215m', '173m', '320m', '400m', '29m', '2500ft', '500m |', '273m',
       '1,577 meters', '230 meters,', '135m', '150-500m', '100m (328ft)',
       '50 meters;', '39 meters,', '135 meters', '1500ft,', '100m;',
       '151m', '2 meters', '6 meters', '532m', '512m', '125m', '192m',
       '456 meters', nan, '56m', '15 meters', '200-300 meters;',
       '121m (397ft)', '156 meters', '70-80 meters above sea level',
       '50-150m', '60-200m', '150 - 500m', '506 meters',
       '100-200m above sea level', '800 meters', '150m above sea level',
       '850 meters', '55m', '1,000 meters', '400 meters', 'Elevated',
       '246m', '1,200m,', '250m above sea level', '500-1500m', '425m,',
       '1000m,', '400m above sea level', '234m', '622 meters',
       '535 meters', '400 meters,', '560m', '532 meters', '410 meters',
       '510 meters', '538m', '200m;', '100m above sea level,',
       '346 meters', '120 meters', '121 meters', '249m',
       '100 meters above sea level', '22m', '50 meters,',
       '59 meters (194 feet)', '75 meters', '70m', '450 meters',
       '445 meters', '470m', '524 meters', '300m,', '309m',
       '1,060 meters', '520m', '420m', '300m;', '573m,', '586m',
       '1,160 meters', '630 meters', '1,227 meters', '1,080 meters',
       '741 meters', '1,219m (4,000 ft)', '670m', '555 meters', '530m',
       '425m', '515-694 m,', '1500 meters', '489 meters', '481m', '174m',
       '920 meters', '208m', '500m above sea level', '508m', '471m',
       '498m', '509 meters', '180m', '444m', '160m,', '19m', 'Sea level,',
       '8 meters above sea level', '2000m', '56m (184ft)', '11m (36ft)',
       '22 meters,', '20m;', '540 meters', '345m', '286 m',
       '1050 meters,', '356 meters,', '1070m', '1,300 meters', '315m',
       '1,250 meters', '196m', '235m', '680m', '980m,', '151m (495ft)',
       '480m', '330 meters.', '87m', '60m,', '60m above sea level',
       '100m above sea level', '50 m', '102 m,', '42m', '300-900 meters',
       '500-800 meters above sea level', '331 m (1,086 ft)',
       '250-500 meters', '60m', '28m', '153m', '67 meters,',
       '1,500 meters', '200-500m', '240m', '235 meters', '105m',
       '180 m (590 ft)', '68m', '170 meters', '223 meters',
       '1,500 meters,', '225m', '200-300m', '539m', '73m', '365m,',
       '700m above sea level', '175m', '564m', '350m,',
       '300m above sea level', '100-240m', '1,410m;', '1,400m', '1200m,',
       '1,238 meters', '1,217 metres', '1,500m;', '1,077 meters',
       '1,245 meters (4,084 feet)', '1,400 meters', '1,240 meters',
       '1,220m,', '1,049 meters', '80 meters', '26 meters', '367 meters',
       '154 meters', '280 meters.', '270m', '1,048 ft', '358 meters',
       '1,300m', '480 meters', '375 meters', '408 meters (1,339 feet)',
       '404m', '384m', '898m', '875 meters', '429m',
       '163 meters (535 feet)'], dtype=object)

In [535]:
# extracting height and thier units
df_lga_features['Elevation'] = df_lga_features.apply(extract_numbers_units, values=['m', 'ft'], column='Elevation', axis=1)

# replace the values of Sea level, Sea Level with 0.25m and Elevated with null
value_list =[('Sea level', '0.25m'), ('Sea Level', '0.25m'), ('Elevated', '')]
df_lga_features['Elevation'] = replace_words(df_lga_features, repls= value_list, column='Elevation')

# convert all heights to meters
df_lga_features['Elevation'] = df_lga_features.apply(convert_values, 
                     values=[('m', 1), ('ft', 0.3048)], 
                     column='Elevation', axis=1)

df_lga_features['Elevation'].unique()

array([104.0, 30.0, 457.20000000000005, 200.0, 190.0, 140.0, 250.0, 500.0,
       1500.0, 100.0, 40.0, 50.0, 400.0, 123.0, 117.0, 152.0, 167.0,
       1092.0, 350.0, 625.0, 223.0, 900.0, 446.0, 700.0, 300.0, 143.0,
       160.0, 1400.0, 305.0, 207.0, 25.0, 32.0, 41.0, 23.0, 36.0, 3.0,
       92.0, 20.0, 54.0, 10.0, 1000.0, 600.0, 24.0, 45.0, 130.0, 67.0,
       132.0, 120.0, 150.0, 84.0, 65.0, 210.0, 211.0, 332.0, 543.0, 616.0,
       450.0, 800.0, 1200.0, 423.0, 1268.0, 2500.0, 80.0, 987.0, 366.0,
       116.0, 147.0, 82.0, 1546.0, 144.0, 90.0, 124.0, 1010.0, 408.0,
       1181.0, 75.0, 27.0, 650.0, 12.0, 115.0, 78.0, 110.0, 72.0, 55.0,
       214.0, 562.0, 630.0, 750.0, 460.0, 461.0, 462.0, 1300.0, 458.0,
       1539.0, 343.0, 280.0, 230.0, 314.0, 220.0, 357.0, 390.0, 215.0,
       173.0, 320.0, 29.0, 762.0, 273.0, 1577.0, 135.0, 39.0, 151.0, 2.0,
       6.0, 532.0, 512.0, 125.0, 192.0, 456.0, '', 56.0, 15.0, 121.0,
       156.0, 506.0, 850.0, 246.0, 425.0, 234.0, 622.0, 535.0, 560.0,
       410.0, 510.0, 538.0, 346.0, 249.0, 22.0, 59.0, 70.0, 445.0, 470.0,
       524.0, 309.0, 1060.0, 520.0, 420.0, 573.0, 586.0, 1160.0, 1227.0,
       1080.0, 741.0, 1219.0, 670.0, 555.0, 530.0, 694.0, 489.0, 481.0,
       174.0, 920.0, 208.0, 508.0, 471.0, 498.0, 509.0, 180.0, 444.0,
       19.0, 8.0, 2000.0, 11.0, 540.0, 345.0, 286.0, 1050.0, 356.0,
       1070.0, 315.0, 1250.0, 196.0, 235.0, 680.0, 980.0, 480.0, 330.0,
       87.0, 60.0, 102.0, 42.0, 331.0, 28.0, 153.0, 240.0, 105.0, 68.0,
       170.0, 225.0, 539.0, 73.0, 365.0, 175.0, 564.0, 1410.0, 1238.0,
       1217.0, 1077.0, 1245.0, 1240.0, 1220.0, 1049.0, 26.0, 367.0, 154.0,
       270.0, 319.4304, 358.0, 375.0, 404.0, 384.0, 898.0, 875.0, 429.0,
       163.0], dtype=object)

#### 1.1.2.1 Cleaning the Population features

In [536]:
df_lga_features['Population'].unique()

array(['382,784', '1 million', '150,000', '100,000', '140,498', '79,231',
       '50,000;', '500,000', '200,000', '50,000', '150,000,', '120,000',
       '100,000,', '259,259', '142,478', '127,167', '125,000', '20,000',
       '160,000', '24,000', '95,000', '400,000', '156,235', '48,739',
       '254,000,', '250,000', '83,000', '450,000', '214,225', '114,000',
       '334,382', '50,000,', '142,300', '1,000', '370,000', '226,564',
       '25,000;', '551,000', '111,200', '149,630', '234,460', '85,000',
       '230,000', '187,096', '105,000', '152,000', '300,000', '214,273',
       '153,000', '6.3 Million', '80,000', '102,000,', '200,000,',
       '30,000,', '5000', '10,000', '214,000', '260,000', '140,000',
       '119,077', '3.5 million', '267,859', '1,000,000', '181,000',
       '25,000', '340,000', '170,000', '78,000', '60,000', '256,000',
       '156,555', '128,611;', '202,725', '234,117', '158,642', '218,000',
       '478,000', '126,000', '6.4 million', '100,000;', '1.2 million',
       '14,000,', '90,000', '74,000', '276,000', '45,000', '234,567',
       '23,000', '82,000', '257,000', '75,000', '394,041', '50,000 |',
       '120,000,', '156,000', '185,000', '176,000', '183,555', '150,000;',
       '183,049,', '183,000', '204,000', '210,000', '132,241', '158,593',
       '2.2 million', nan, '320,000', '130,000', '98,768', '387,876',
       '203,606', '135,800', '139,829', '469,540', '232,849', '75,000,',
       '111,245', '127,000', '214,871', '98,000', '2 million', '274,000',
       '77,000', '14,560', '250,000;', '250,000,', '251,824', '211,864',
       '309,187', '104,748', '131,669', '500,000,', '112,000', '62,401',
       '122,000', '1.8 million', '350,000', '192,000', '345,000',
       '800,000', '87,000', '244,000', '102,453', '3 million',
       '2.25 million', '85,000,', '2.4 million', '241,093', '460,000',
       '535,619', '600,000', '1.4 million', '1,178,000,', '500,000;',
       '330,712', '2 million,', '80,000,', '70,000', '10,000,', '110,000',
       '1,200,000', '179,', '388,776', '850,000', '193,000', '356,767',
       '142,312', '156,532', '123,000', '92,622', '387,000', '135,000',
       '240,000', '251,522,', '156,674', '259,036', '32,000', '96,000',
       '200,000;', '1.6 million', '608,319,', '306,795,', '284,000',
       '1000', '152,852;', '537,000', '259,870', '121,076', '124,549',
       '245,000', '58,020', '452,000', '170,', '220,000', '198,314',
       '1.5 million', '89,763', '98,765', '59,968', '72,000', '185,874'],
      dtype=object)

In [537]:
# extracting population and thier units
df_lga_features['Population'] = df_lga_features.apply(extract_numbers_units, 
                                                      values=['million', ''], 
                                                      column='Population', axis=1)

# converting all popuplation to values in thousands
df_lga_features['Population'] = df_lga_features.apply(convert_values, 
                     values=[('million', 1000000)], 
                     column='Population', axis=1)

df_lga_features['Population'].unique()

array(['382784', 1000000.0, '150000', '100000', '140498', '79231',
       '50000', '500000', '200000', '120000', '259259', '142478',
       '127167', '125000', '20000', '160000', '24000', '95000', '400000',
       '156235', '48739', '254000', '250000', '83000', '450000', '214225',
       '114000', '334382', '142300', '1000', '370000', '226564', '25000',
       '551000', '111200', '149630', '234460', '85000', '230000',
       '187096', '105000', '152000', '300000', '214273', '153000', '6.',
       '80000', '102000', '30000', '5000', '10000', '214000', '260000',
       '140000', '119077', 5000000.0, '267859', '1000000', '181000',
       '340000', '170000', '78000', '60000', '256000', '156555', '128611',
       '202725', '234117', '158642', '218000', '478000', '126000',
       4000000.0, 2000000.0, '14000', '90000', '74000', '276000', '45000',
       '234567', '23000', '82000', '257000', '75000', '394041', '50000 ',
       '156000', '185000', '176000', '183555', '183049', '183000',
       '204000', '210000', '132241', '158593', '', '320000', '130000',
       '98768', '387876', '203606', '135800', '139829', '469540',
       '232849', '111245', '127000', '214871', '98000', '274000', '77000',
       '14560', '251824', '211864', '309187', '104748', '131669',
       '112000', '62401', '122000', 8000000.0, '350000', '192000',
       '345000', '800000', '87000', '244000', '102453', 3000000.0,
       25000000.0, '241093', '460000', '535619', '600000', '1178000',
       '330712', '70000', '110000', '1200000', '179', '388776', '850000',
       '193000', '356767', '142312', '156532', '123000', '92622',
       '387000', '135000', '240000', '251522', '156674', '259036',
       '32000', '96000', 6000000.0, '608319', '306795', '284000',
       '152852', '537000', '259870', '121076', '124549', '245000',
       '58020', '452000', '170', '220000', '198314', '89763', '98765',
       '59968', '72000', '185874'], dtype=object)

#### 1.1.2.1 Cleaning the Major Occupation features

In [538]:
df_lga_features['Major Ocupation'].unique()

array(['Trading and Commerce', 'Trading', 'Agriculture', 'Farming',
       'Farming;', 'Farming,', 'Agriculture,', 'farming', 'Trading,',
       'Fishing', 'Trading and Service', 'Trading and Farming',
       'Trading and Manufacturing', 'Trading and Agriculture',
       'Commercial trading', 'Fishing,', 'farming;', 'Manufacturing',
       'Agriculture;', 'Commerce', 'Agriculture |',
       'Fishing and Oil and Gas Industry', nan, 'Government',
       'Farming/Agriculture', 'Trade and Services', 'Trade', 'Agriculure',
       'Fishing and tourism', 'White-collar jobs', 'Service industries',
       'Service industry', 'Trading and Business,', 'Retail;',
       'Agricultural', 'Agriculture.', 'Cement production',
       'Farming/Fishing', 'Farming and Mining;', 'Trading and commerce',
       'Oil and gas industry', 'Farming.'], dtype=object)

In [539]:
# lets replace some values with more generic values to reduce the number of categories
words_list = [
                ('Trad', 'Trading'), ('Commerc', 'Commercial'), ('Agric', 'Agriculture'),
                 ('Farm', 'Farming'), ('Fish', 'Fishery'), ('service', 'Commercial'),
                 ('Manufactur', 'Manufacturing'), ('Oil', 'Oil and Gas'), ('Government', 'Civil servant'),
                 ('Touris', 'Tourism'), ('white', 'White Collar'), ('business', 'Commercial'),
                 ('retail', 'Trading'), ('cement', 'Cement Manufacturing'), ('Mining', 'Minning')
            ]

df_lga_features['Major Occupation'] = replace_words(df_lga_features, repls=words_list, column='Major Ocupation') 
df_lga_features['Major Occupation'].unique()

array(['trading', 'agriculture', 'farming', 'fishery', 'manufacturing',
       'commercial', '', 'civil servant', 'white collar',
       'cement manufacturing', 'oil and gas'], dtype=object)

#### 1.1.2.1 Cleaning the Political stability features

In [540]:
df_lga_features['Political stability'].unique()

array(['Relatively Stable', 'Relatively stable', 'Stable',
       'Relatively Stable;', 'Stable,', 'Fairly stable', 'Unstable',
       'relatively stable', 'Relatively Stable,', 'Stable;',
       'Fairly Stable', 'Relatively stable,', 'Moderately stable',
       'Somewhat stable', 'Fairly Stable,', 'stable;', 'Unstable,',
       'Moderate', 'Stable |', 'Relatively stable;', 'Generally Stable',
       nan, 'High', 'Generally stable', 'Stable.', 'Moderately Stable',
       'Strong', 'Fairly stable,', 'Very stable'], dtype=object)

In [541]:
# lets replace some values with more generic values to reduce the number of categories
words_list = [('generally stable', 'stable'), ('high', 'very stable'), ('strong', 'very stable'),
                   ('moderately stable', 'moderate'), ('somewhat stable', 'fairly stable')]

df_lga_features['Political stability'] = replace_words(df_lga_features, repls=words_list, column='Political stability') 
df_lga_features['Political stability'].unique()

array(['relatively stable', 'stable', 'relatively stable;', 'stable,',
       'fairly stable', 'unstable', 'relatively stable,', 'stable;',
       'moderate', 'fairly stable,', 'unstable,', 'stable |', '',
       'very stable', 'stable.'], dtype=object)

#### 1.1.2.1 Cleaning the Economical Situation features

In [542]:
df_lga_features['Economic Situation'].value_counts()

Developing                           380
Poor                                 110
Developing,                           59
Struggling                            47
Growing                               17
Underdeveloped                        12
Average                               11
Developing;                            9
Weak                                   9
Low                                    8
Poor,                                  7
Struggling,                            5
Growing,                               5
Slowly developing                      3
Moderate                               3
Improving                              3
Booming                                2
Good                                   2
Low income                             2
Strong                                 2
Below Average                          2
Relatively poor                        2
Underdeveloped,                        2
Struggling;                            2
Mostly Agricultural-based              1
Challenging                            1
Average,                               1
Developing.                            1
Below average                          1
Fairly stable but fluctuating          1
Growing but still developing           1
Deteriorating                          1
Struggling Economy                     1
Relatively Poor                        1
Satisfactory                           1
Underdeveloped.                        1
Declining                              1
Growing;                               1
Weak,                                  1
developing;                            1
struggling;                            1
poor                                   1
Slow-growing                           1
Dependent on Oil and Gas Industry      1
Agriculture-based economy              1
Poor;                                  1
Underdeveloped;                        1
Developing |                           1
Low income economy                     1
Struggling economy                     1
Name: Economic Situation, dtype: int64

In [543]:
# lets replace some values with more generic values to reduce the number of categories
words_list = [('growing', 'developing'), ('struggling', 'underdeveloped'), ('weak', 'underdeveloped'),
                   ('low', 'underdeveloped'), ('poor', 'underdeveloped'), ('slow', 'developing'), 
                   ('below average', 'underdeveloped'), ('moderate', 'average'), ('improving', 'developing'),
                   ('booming', 'developed'), ('good', 'developed'), ('strong', 'developed'), ('agricultur', ''),
                   ('oil', ''), ('challenging', 'underdeveloped'), ('satisfactory', 'developed'), ('declining', ''), 
                  ('deteriorating', ''), ('fairly', 'developing')
            ]

df_lga_features['Economic Situation'] = replace_words(df_lga_features, repls=words_list, column='Economic Situation') 
df_lga_features['Economic Situation'].unique()

array(['underdeveloped', 'developing', 'developing,', 'average',
       'underdeveloped;', 'underdeveloped,', '', 'developing;',
       'developed', 'developing |', 'average,', 'developing.',
       'underdeveloped.'], dtype=object)

#### 1.1.2.1 Cleaning the Average Cost of living features

In [544]:
df_lga_features['Average Cost of living'].value_counts()

â‚¦50,000                   149
â‚¦40,000                    45
â‚¦30,000                    35
N50,000                      27
â‚¦50,000,                   25
                           ...
â‚¦30,000 ($74.57)            1
â‚¦50,000/$125 per month      1
â‚¦20,000                     1
NGN 80,000                    1
N30,000,                      1
Name: Average Cost of living, Length: 215, dtype: int64

In [545]:
currencies = [('$', 348.6), ('N', 1), ('NGN', 1)]
df_lga_features['Average Cost of living'] = df_lga_features.apply(extract_convert_curr,
                                                                  column='Average Cost of living', 
                                                                  currencies = currencies, axis=1)
df_lga_features['Average Cost of living'].unique()

array([108763.20000000001, 50000.0, 40000.0, 43575.0, 30000.0, 60000.0,
       34860.0, 63445.200000000004, 70000.0, 45000.0, 35000.0, 42877.8,
       80000.0, 100000.0, 25000.0, 53335.8, 38346.0, 31374.000000000004,
       29631.000000000004, 54730.200000000004, 75000.0, 58000.0, 41832.0,
       54033.0, 52290.0, 69720.0, 150000.0, 33117.0, 25796.4, 45318.0,
       26842.2, 61005.00000000001, 200000.0, 26145.0, 44882.25, 85000.0,
       87150.0, 20000.0, 12898.2, 65536.8, 22310.4, 25447.800000000003,
       62748.00000000001, 120000.0, 35557.200000000004, 25099.2,
       25995.102, '', 35905.8, 42529.200000000004, 53684.4,
       45666.600000000006, 21613.2, 65000.0, 104580.0, 55776.0,
       128982.00000000001, 71463.0, 41134.8, 64491.00000000001, 250.0,
       244020.00000000003, 90000.0, 67628.40000000001, 55000.0, 44620.8,
       174300.0, 40786.200000000004, 30328.2, 63096.600000000006],
      dtype=object)

## 1.2 Data integration and Transfromation

Data Integration involves combining data from multiple sources into a single dataset. Data transformation involves converting data into a more suitable format for analysis, such as normalizing or scaling data.

The ACLED and the GTD dataset were collected by different organisations with different objectives. Both datasets must have been collected to suit the usecase of the different institutions. Hence, the explanation for the wide disparity in the number of features. While the GTD collected more features, almost three folds of the features collected by ACLED, they do not cover as much events as the ACLED datasets. There is also a need to integrate datasets containing the records of attacks with the Local government areas of the attacks dataset and subsequently the dataset containing selected features of the LGA.  

Hence, this section of the project seeks to preprocess all the datasets to cummulatively suit the purpose of this project.

### 1.2.1 Exploring Mergability of the Datasets

The ACLED and the lga, LGA features datasets can all the merged. On the ACLED dataset, there is a admin2 field which contains the name of the LGA where each event occur. The LGA and the LGA feature dataset contains name fields which allows the three datasets to be merged using the LGA name.

Attempting to bring the GTD dataset into the mix is problematic because the closest it has in common to the LGA name is the location field. Above 50% of this field is empty. The closest it also has to the ACLED dataset is the date field. This field cannot be used to reliably merge both datasets. Therefore, the GTD dataset will be used indepependently should its need arise in this project.

The primary focus for this project will be the ACLED, the LGA dataset and the LGA feature datasets.

In [46]:
# Attempting to merge the ACLED dataset with the LGA features
df_acled = df_acled.rename(columns={'admin2': 'lga_name'}) # rename the admin2 to lga_name in acled
df_lga_features = df_lga_features.rename(columns={'Lga Name': 'lga_name'}) # rename the Lga Name to lga_name in LGA features dataset
merged_df = pd.merge(df_acled, df_lga_features, on='lga_name')

In [47]:
merged_df.head()

,event_id_cnty,event_date,year,time_precision,disorder_type,event_type,sub_event_type,actor1,inter1,actor2,...,Longitude,Latitude,Income Equality,Major ethnic group,Communication network,Infrastructure development,Dominant Age group,Average family size,Average education level,Average Income in Naira
0,NIG30571,2023-03-24,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (Nigeria),6,unknown,...,7.2720Â° E,7.2639Â° N,Low,Yoruba,Adequate,Developing,25-44,4,High School,"â‚¦80,000"
1,NIG30686,2023-03-23,2023,1,Political violence,Violence against civilians,Abduction/forced disappearance,Fulani Ethnic Militia (Nigeria),4,Civilians (Nigeria),...,7.2720Â° E,7.2639Â° N,Low,Yoruba,Adequate,Developing,25-44,4,High School,"â‚¦80,000"
2,NIG30637,2023-03-22,2023,1,Political violence,Violence against civilians,Attack,Fulani Ethnic Militia (Nigeria),4,Civilians (Nigeria),...,7.2720Â° E,7.2639Â° N,Low,Yoruba,Adequate,Developing,25-44,4,High School,"â‚¦80,000"
3,NIG29466,2023-01-04,2023,1,Political violence,Battles,Armed clash,Hausa Ethnic Militia (Nigeria),4,Fulani Ethnic Militia (Nigeria),...,7.2720Â° E,7.2639Â° N,Low,Yoruba,Adequate,Developing,25-44,4,High School,"â‚¦80,000"
4,NIG29455,2023-01-03,2023,1,Political violence,Battles,Armed clash,Hausa Ethnic Militia (Nigeria),4,Fulani Ethnic Militia (Nigeria),...,7.2720Â° E,7.2639Â° N,Low,Yoruba,Adequate,Developing,25-44,4,High School,"â‚¦80,000"

Hence, it is confirmed the both dataset can be merged without underlying issues.

In [534]:
# This function extracts numbers from a dirty string. It will match numbers like '1', '20', '01', '10,10', '10,20.00' etc
def get_numbers_without_units(row, column, no_match_value='default'):
    perc = row[column]
    try:
        perc = re.findall('\d+(?:,?\d*)*\.*', perc)[0]
        perc = perc.replace(',', '')
    except:
        if no_match_value == 'default':
            return perc
        else:
            return no_match_value
    return float(perc)


# This function returns only sequential alphabets in a string. It matches only strings strating with aphabets
def retrieve_alphabets(row, column_name):
    res = row[column_name]
    try:
        res = ' '.join(re.findall('[a-zA-Z]+', res))
    except:
        return ''
    return res.lower()


def replace_word(row, word, repl_word, column):
    '''
        searches for word in column. If it exists, it replaces the column with repl_word
    '''
    try:
        if word.lower() in row[column].lower(): 
            return  repl_word.lower()

        return row[column].lower()
    except:
        return ''
    
    return ''
 

def replace_words(dataframe, repls, column):
    '''
        Searches for a string B in A. If B is in A it replaces A with another string C.
        
        Arguments:
        -----------------------------
        row - single row in a dataframe
        column - Name of column in the row which contains string A
        repls - list of tupples i.e [('B', 'C'), ('B', 'C')]
    '''
    for repl in repls:
        dataframe[column] = dataframe.apply(replace_word, word=repl[0], repl_word=repl[1], column=column, axis=1)
        
    return dataframe[column]


def binarize(row, word, column):
    '''
        Searches for a word in a string. If found, it replaces the entire string with 1 else it replaces it with 0
    '''
    row_word = row[column]
    try:
        if word.lower() in row_word.lower():
            return 1
        else:
            return 0
    except:
        return 0
    
    
def extract_numbers_units(row, values, column, find_all=False):
    '''
        Extracts values and their units from a string.
    '''
    cur_val = row[column]

    try:
        for value in values:
            res = re.findall('\d+(?:,?\d*)*\.*\s*{}'.format(value), cur_val)
            if res:
                break

        if res:
            return res[0]
        else:
            return cur_val
    except:
        return ''
    

def convert_values(row, values, column):
    '''
        converts values with different units to a single unit
        
        parameters:
        ---------------------------
        values - list of tupples - first entry in the tupple is the unit and the second entry is the convertion rate. 
                i.e [('m', 0.75), ('hrs', 60)]
        
    '''
    cur_val = row[column]
    for value in values:
        if value[0] in cur_val:
            res = re.search(r'\d+(?:,?\d*)*\.*', cur_val)
            if res:
                res = res.group().replace(',', '')
                res = float(res) * value[1]
                return res
    return cur_val.replace(',', '')


def extract_convert_curr(row, column, currencies):
    '''
        extracting amount with the currency sign in a string, then converts the amount with the value
        of the currency attached
    '''
    cur_val = row[column]
    try:
        for currency in currencies:
            pattern = fr'{re.escape(currency[0])}\s?\d+(,\d+)*(\.\d+)?\d*'
            res = re.search(pattern, cur_val)

            if res:
                res = res.group()
                res = re.search(r'\d+(,\d+)?(\.\d+)?\d?', res).group()
                res = res.replace(',', '')
                return float(res) * currency[1]


        res = re.search(r'\d+(,\d+)?(\.\d+)?\d?', cur_val)
        if res:
            res =  res.group().replace(',', '')
            return float(res)
    except:
        return ''

    return ''